.btn-route-item {
  background-color: #7900c4;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  border: 0px solid #000000;
  margin-bottom: 10px;
}
.CheckCircleIcon {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 0px;
}
.ExamplePopup {
  float: left;
  display: flex;
  justify-content: center;
  background-color: #007e8a;
  padding-top: 10px;
  margin-top: 5px;
  margin-left: 0px;
  width: 100% !important;
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 1px solid #000000;
}
.ExamplePopup:hover {
  background-color: red;
}
.map-icon {
  margin-top: 5px;
  margin-left: 5px;
}
