.btn-route-item {
  background-color: #7900c4;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  border: 0px solid #000000;
  margin-bottom: 10px;
}
.CheckCircleIcon {
  width: 100px !important;
  margin-top: 5px;
}
.ExamplePopup {
  float: left;
  display: flex;
}
.glyphicon-ok-circle {
  width: 30px !important;
  height: 30px;
}
