.btn-route-item {
  background-color: #7900c4;
  border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  border: 0px solid #000000;
  margin-bottom: 5px;
  min-width: 140px;
}
.CheckCircleIcon {
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 0px;
}

.ExamplePopup {
  float: left;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-bottom: 5px;
  width: 100% !important;
  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px;
  border: 1px solid #000000;
  a {
    font-size: 8px;
    margin-top: 0px;
    padding: 0px;
  }
}
.modal-content {
  min-height: 500px;
}
.map-modal {
  min-height: 400px;
  height: auto !important;
}
.title-item {
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 25px;
}
:enabled {
  border: 2px solid black;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.map-icon {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding: 0px;
}
.separator {
  margin-top: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
  background-color: #00a9b9;
}
